.trips {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 8px;
}

app-trip {
  border: 2px solid wheat;
  border-radius: 5px;
  width: fit-content;
  padding: 8px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}