/* You can add global styles to this file, and also import other style files */
body {
  background-color: #1f1f1f;
  color: #bbb;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

app-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type=text],
button {
  border-radius: 5px;
}

button {
  cursor: pointer;
  background-color: #0791e9;
  color: #dadada;
  font-weight: 700;
  padding: 8px 16px;
  border: none;
}